// main

$primary: #00a3ff;

// Dark

$text-shadow-one-dark: #3b3b3b;
$text-shadow-two-dark: #828282;
$text-shadow-three-dark: #fff;

$card-shadow-dark: #3e3e3e;
$card-shadow-hover-dark: rgb(229 231 235 / 0.6);
$card-bg-dark: rgb(107 114 128 / 0.3);
// Light
$text-shadow-one-light: #3b3b3b;
$text-shadow-two-light: #828282;
$text-shadow-three-light: #fff;

$card-shadow-light: #0000005f;
$card-shadow-hover-light: rgba(95, 95, 95, 0.6);
$card-bg-light: #fff;


// scroll bar

.main::-webkit-scrollbar {
  width: 4px; /* ancho de toda la barra de desplazamiento */
}

.main::-webkit-scrollbar-track {
  background: transparent; /* color del área de seguimiento */
}

.main::-webkit-scrollbar-thumb {
  background-color: $primary; /* color del botón de desplazamiento */
  border-radius: 20px; /* redondez del botón de desplazamiento */
  border: none /* crea un borde alrededor del botón de desplazamiento */
}

// end scrollbar

.card {
  padding: 1.25rem;
  border-radius: 0.375rem;
  position: relative;
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  // transform: rotate3d(0);
  &:hover {
    transition-duration: 150ms;
  }
}

.tab {
  &.active {
    background-color: $primary;
  }
}

:is(:where([data-mode="dark"]) .card) {
  background-color: $card-bg-dark;
  box-shadow: 0 5px 5px $card-shadow-dark;
  &:hover {
    box-shadow: 0 5px 20px 5px $card-shadow-hover-dark;
  }
}

:is(:where([data-mode="light"]) .card) {
  background-color: $card-bg-light;
  box-shadow: 0 5px 5px $card-shadow-light;
  &:hover {
    box-shadow: 0 5px 20px 5px $card-shadow-hover-light;
  }
}

.neon {
  color: #fff;
  -webkit-animation: animation-neon 1s ease-in-out infinite alternate;
  -moz-animation: animation-neon 1s ease-in-out infinite alternate;
  animation: animation-neon 1s ease-in-out infinite alternate;
}

@keyframes animation-neon {
  from {
    text-shadow: 0 0 10px $text-shadow-three-dark,
      0 0 20px $text-shadow-three-dark, 0 0 30px $text-shadow-one-dark,
      0 0 40px $text-shadow-one-dark, 0 0 50px $text-shadow-one-dark,
      0 0 60px $text-shadow-one-dark, 0 0 70px $text-shadow-one-dark;
  }
  to {
    text-shadow: 0 0 20px $text-shadow-three-dark,
      0 0 30px $text-shadow-two-dark, 0 0 40px $text-shadow-two-dark,
      0 0 50px $text-shadow-two-dark, 0 0 60px $text-shadow-two-dark,
      0 0 70px $text-shadow-two-dark, 0 0 80px $text-shadow-two-dark;
  }
}

@-webkit-keyframes animation-neon {
  from {
    text-shadow: 0 0 10px $text-shadow-three-dark,
      0 0 20px $text-shadow-three-dark, 0 0 30px $text-shadow-one-dark,
      0 0 40px $text-shadow-one-dark, 0 0 50px $text-shadow-one-dark,
      0 0 60px $text-shadow-one-dark, 0 0 70px $text-shadow-one-dark;
  }
  to {
    text-shadow: 0 0 20px $text-shadow-three-dark,
      0 0 30px $text-shadow-two-dark, 0 0 40px $text-shadow-two-dark,
      0 0 50px $text-shadow-two-dark, 0 0 60px $text-shadow-two-dark,
      0 0 70px $text-shadow-two-dark, 0 0 80px $text-shadow-two-dark;
  }
}

@import './background_stars.scss'
