---
import { changeLanguage, t } from "i18next";
import Layout from "../../layouts/Layout.astro";
import About from "../../components/Aboutme.astro";
import Tech from "../../components/Technologies.astro";
import Config from "../../components/Config.astro";
import projects from "../../ts/export/projects";
import Project from "../../components/Project.astro";
import Tabs from "../../components/Tabs.astro";
import ContentTabs from "../../ts/export/tabs";
import Professional from "../../components/Professional.astro";
import SchoolTimeLine from "../../components/SchoolTimeLine.astro";
import Certification from "../../components/Certification.astro";
import certifications from "../../ts/export/certifications";

changeLanguage("en");
---

<Layout>
  
  <About />
  <Tech />
  <Tabs tabs={ContentTabs}/>
  <!-- <NeonText title={t("projects.title")} /> -->
  <div class="grid grid-cols-2 sm:grid-cols-1 mb-5 tab-content hidden" id="projects">
    {
      projects.map((project) => {
        return (
          <>
            <Project project={project} />
          </>
        );
      })
    }
  </section>
  <Professional/>
  <SchoolTimeLine/>
  <div class="grid grid-cols-2 sm:grid-cols-1 mt-6 mb-5 mx-5 gap-4 tab-content hidden" id="certificates">
    {
      certifications.map(certification => {
        return <Certification certification={certification}/>
      })
    }
  </div>
  <Config />
</Layout>