---
import i18next, { t, changeLanguage } from "i18next";

// import { Trans } from "react-i18next";
import Styles from "../sass/styles.scss";
import { Trans, LanguageSelector } from "astro-i18next/components";
import { Tooltips } from "astro-tooltips";
import Background from "../components/Background.astro";
---

<!doctype html>
<html lang={i18next.language} data-mode="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <title>JorshFolio</title>
    <Tooltips interactive={false} delay={[15, 400]} theme={'dark'} />
  </head>
  <body
    class="bg-[rgb(240,240,240)] text-black dark:text-white dark:bg-black font-lato max-w-5xl lg:max-w-3xl md:max-w-xl m-auto"
  >
    <Background />
    <div class="overflow-x-hidden h-dvh relative main">
      <slot />
    </div>
    <script src="../ts/scripts/main.ts"></script>
  </body>
</html>
